html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	font-family: "Open Sans" sans-serif;
	font-size: 14px;
	background: #fff;
}

img {
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

h1 {
	margin: 0;
	font-family: "poppins" sans-serif;
	font-size: 203px;
	line-height: 147px;
	font-weight: 700;
	letter-spacing: -0.75px;
	text-transform: uppercase;
	color: #fff;
}

main .container {
	padding: 0;
	position: relative;
	top: -75px;
	z-index: 20;
	background-color: #fff;
	box-shadow: 0 0 150px 0 #333;
}


/*=========header=========*/

header {
	height: 100%;
	min-height: 650px;
	position: relative;
	background: url("../img/Rectangle 1.png") no-repeat center;
	background-size: cover;
	z-index: 10px;
}

.header-logo {
	position: absolute;
	top: 26%;
	left: 11%;
	max-width: 630px;
	text-align: center;
}

.header-logo__text {
	margin-top: 30px;
	font-family: "Montserrat" sans-serif;
	font-size: 20px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 10px;
	color: #fff;
}

.btn {
	font-family: "Montserrat" sans-serif;
	font-size: 17px;
	line-height: 21px;
	font-weight: 700;
	letter-spacing: 0.6px;
	border-radius: 50px;
	border: none;
	outline: none;
	transition: color, background 0.5s;
}

.header-logo__button {
	margin-top: 54px;
	padding: 15px 0;
	width: 163px;
	background-color: #3954d9;
}


/*=========navbar=========*/

.navbar {
	padding: 0;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	z-index: 10;
}

.navbar-toggler {
	padding: 0;
	border: none;
	outline: none;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
	opacity: 0.5;
}

.navbar-brand {
	padding: 0 30px;
	font-family: "poppins" sans-serif;
	font-size: 33px;
	line-height: 65px;
	font-weight: 700;
	letter-spacing: -0.75px;
	text-transform: uppercase;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.navbar-toggler {
	padding: 5px 15px;
}

.wrapper-form {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.wrapper-form--bottom {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 250px;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.navbar-dark .navbar-nav .nav-link {
	font-family: "Montserrat" sans-serif;
	font-size: 13px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #fff;
}

.form-inline {
	margin-left: 10px;
	margin-right: 10px;
}

.bg-light {
	background-color: rgba(0, 0, 0, 0.4)!important;
}

.dropleft-form .dropdown-toggle::before {
	display: none;
}

.dropdown .dropdown-toggle::after {
	display: none;
}

.btn-secondary {
	margin: 0 10px;
	background-color: rgba(0, 0, 0, 0);
	border: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.btn-group .btn-secondary:hover,
.btn-group .btn-secondary:focus {
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

.btn-group span:hover {
	opacity: 0.7;
}

.btn-group .btn-secondary:focus span {
	opacity: 0.7;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
	/* color: #fff; */
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

.dropleft-form .dropdown-menu.show {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	width: 400px;
}

.p-4 {
	padding: 10px 10px!important;
}


/*----------spl-feature-------*/

.spl-feature {
	margin-left: 0;
	margin-right: 0;
}

.spl-item {
	padding-top: 70px;
	padding-bottom: 60px;
	text-align: center;
}

.spl-item img {
	width: 40px;
	height: 40px;
}

h4 {
	margin-top: 50px;
	font-family: "poppins" sans-serif;
	font-size: 32px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #0d2e57;
}

.spl-item--text {
	margin: 0 auto;
	margin-top: 20px;
	width: 230px;
	font-family: "Montserrat" sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	color: #8a8a8a;
}

.spl-item__click {
	display: inline-block;
	margin-top: 20px;
	font-family: "Montserrat" sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	color: #3753da;
}


/*--------spl-offers----------*/

.spl-offers {
	margin-left: 0;
	margin-right: 0;
}

.wrapper-left {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 120px;
	padding-bottom: 70px;
	text-align: center;
	background-color: #f2f0f0;
}

.wrapper-right {
	padding-left: 0;
	padding-right: 0;
	background-color: #f2f0f0;
}

.wrapper-left--top {
	font-family: "poppins" sans-serif;
	font-size: 20px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #616161;
}

.wrapper-left h3 {
	margin-top: 35px;
	font-family: "BebasNeueBold" sans-serif;
	font-size: 42px;
	line-height: 44px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0d2e57;
}

.spl-offers__text {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 570px;
	font-family: "Montserrat" sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #8a8a8a;
}

.spl-offers--sale {
	margin: 0;
	margin-top: 35px;
	padding: 0;
}

.spl-offers--sale li {
	display: inline-block;
}

.sale {
	font-family: "Montserrat" sans-serif;
	font-size: 52px;
	line-height: 62px;
	font-weight: 700;
	color: #3954d9;
}

.price {
	margin-left: 50px;
	font-family: "Montserrat" sans-serif;
	font-size: 32px;
	line-height: 58px;
	font-weight: 400;
	color: #121212;
	text-decoration: line-through;
}

.time {
	margin-top: 20px;
}

.eTimer {
	margin: 0 auto;
}

.spl-offers__button {
	margin-top: 40px;
}


/*---------feature-product-----*/

.product-card .row {
	margin-left: 0;
	margin-right: 0;
}

.element {
	padding-left: 0;
	padding-right: 0;
}

.card {
	padding-top: 60px;
	padding-bottom: 50px;
}

.card-body {
	margin: 0;
	margin-left: 35px;
	padding: 0;
}

.card-product__title--wrapper {
	margin-top: 1.8em;
	margin-left: 35px;
	height: 60px;
	overflow: hidden;
}

.card-product__title {
	margin-bottom: 0;
	font-family: "Montserrat" sans-serif;
	font-size: 25px;
	line-height: 29px;
	font-weight: 700;
	color: #0d2e57;
}

.image-hover:hover .card-product__title,
.image-hover:focus .card-product__title {
	color: red;
}

.image-hover:hover,
.image-hover:focus {
	text-decoration: none;
}

.img-size {
	margin-left: 20px;
	display: -ms-flexbox;
	display: flex;
	max-width: 320px;
	height: 210px;
}

.img-size img {
	margin: auto;
}

.card-img-top {
	overflow: 0.5;
}

.card-text {
	margin: 0;
	padding: 0;
}

.card-text li {
	display: inline-block;
}

.card-text--sale {
	font-family: "Montserrat" sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #3b38ef;
}

.card-text--price {
	margin-left: 10px;
	font-family: "Montserrat" sans-serif;
	font-size: 15px;
	line-height: 40px;
	font-weight: 700;
	color: #666;
	text-decoration: line-through;
}

.disabled-on {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.disabled-on h4 {
	margin-top: 100px;
	font-family: "Montserrat" sans-serif;
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	color: #666;
}

.feature-product--bottom {
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
}

.feature-product__clik {
	font-family: "Montserrat" sans-serif;
	font-size: 13px;
	line-height: 25px;
	font-weight: 700;
	color: #3753da;
	text-transform: uppercase;
}


/*------------.advertising-element---*/

.advertising-element {
	background: url("../img/Rectangle5.png") no-repeat center;
	background-size: cover;
	transform: scale(0);
	transition: transform 3s;
}

.advertising {
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0)
}

.advertising-body {
	margin-left: 20px;
}

.advertising-title {
	max-width: 365px;
	font-family: "poppins" sans-serif;
	font-size: 59px;
	line-height: 61px;
	font-weight: bold;
	color: #fff;
}

.advertising-btn {
	margin-top: 30px;
	padding: 10px 0;
	width: 120px;
	font-family: "Montserrat" sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 700;
	color: #fff;
	background-color: #65cbff;
}


/*--------product-template------*/

.product-template {
	background-color: #232323;
	transform: scale(0);
	transition: transform 3s;
}

.product-template--card {
	padding-top: 70px;
	padding-bottom: 50px;
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	background-color: #232323;
	border: 1px solid;
}

.product-body {
	margin-left: 45px;
}

.product-body__title {
	font-family: "Montserrat" sans-serif;
	font-size: 36px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: -1.5px;
	color: #fff;
	text-transform: uppercase;
}

.product-body__text {
	margin-top: 24px;
	max-width: 250px;
	font-family: "Montserrat" sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 4px;
	color: #fff;
	text-transform: uppercase;
}

.product-btn {
	margin-top: 55px;
	padding: 10px 0;
	width: 120px;
	font-family: "Montserrat" sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #3954d9;
}


/*----------feature-images-------*/

.feature-images {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.feature-images__click:hover .feature-images__img,
.feature-images__click:focus .feature-images__img {
	transform: scale(1.1);
	filter: brightness(150%);
	transition: transform 0.5s, filter 0.5s;
}


/*--------brand-logo---------*/

.brand-logo {
	margin-left: 0;
	margin-right: 0;
}

.brand-logo--item {
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}

.brand-logo--item img {
	padding: 40px 0;
}

.brand-logo--item a {
	display: inline-block;
	margin: auto;
}

.brand-logo__img1 {
	width: 130px;
}

.brand-logo__img2 {
	width: 127px;
}

.brand-logo__img3 {
	width: 135px;
}

.brand-logo__img4 {
	width: 104px;
}

.brand-logo__img5 {
	width: 121px;
}

.brand-logo__img6 {
	width: 114px;
}


/*--------footer---------*/

footer {
	position: relative;
	top: -150px;
	padding-top: 195px;
	padding-bottom: 124px;
	background: url("../img/Footer BG.png") no-repeat center;
	background-size: cover;
	z-index: 10;
}

.navigation {
	margin: 0;
	padding: 0;
	padding-left: 35px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	border: 1px solid;
}

.navigation a:hover,
.navigation a:focus {
	color: #666;
	text-decoration: none;
}

.navigation h6 {
	font-family: "Montserrat" sans-serif;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #3753da;
}

.wrapper-footer a {
	font-family: "Montserrat" sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.25px;
	color: #fff;
}

.footer-right--social {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	max-width: 340px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}

.social-item {
	margin: 0;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #fff;
}

.social-item a:hover {
	opacity: 0.7;
}

.news-letter {
	margin-top: 80px;
}

.news-letter--form {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: start;
	    justify-content: flex-start
}

.news-letter--form input {
	margin-top: 12px;
	width: 100%;
	height: 39px;
	background-color: #2f2f2f;
	border: #2f2f2f;
	border-radius: 25px;
	color: #fff;
}

.news-letter--form button {
	margin-top: 28px;
}

@media (max-width: 575.98px) {
	.container {
		max-width: 360px;
	}
	main .container {
		position: relative;
		top: -40px;
	}
	/*-------header--------*/
	.header-logo {
		position: absolute;
		top: 44%;
		left: 10%;
		width: 200px;
	}
	h1 {
		font-size: 62px;
		line-height: 48px;
	}
	.header-logo__text {
		margin-top: 20px;
		font-size: 12px;
		line-height: 18px;
	}
	.header-logo__button {
		margin-top: 20px;
		padding: 8px 0;
		width: 120px;
		font-size: 12px;
		line-height: 21px;
	}
	/*-------spl-feature--------*/
	.spl-item {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	/*-------spl-offers-------*/
	.wrapper-left--top {
		font-size: 18px;
		line-height: 24px;
	}
	.wrapper-left h3 {
		margin-top: 14px;
		font-size: 28px;
		line-height: 32px;
	}
	.spl-offers__text {
		margin-top: 20px;
		max-width: 570px;
		font-size: 16px;
		line-height: 20px;
	}
	.sale {
		font-size: 38px;
		line-height: 42px;
	}
	.price {
		font-size: 28px;
		line-height: 58px;
	}
	/*-------feature-images-------*/
	.feature-images {
		grid-template-columns: auto auto;
	}
	.wrapper-left {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/*------feature-product-----*/
	.card-product {
		text-align: center;
	}
	.card-product__title--wrapper {
		margin-left: 0;
	}
	.img-size {
		margin: 0 auto;
	}
	.card-body {
		margin-left: 0;
	}
	/*-------product-template----*/
	.product-body__title {
		font-size: 32px;
		line-height: 35px;
	}
	/*-------advertising-element----*/
	.advertising-title {
		max-width: 265px;
		font-size: 42px;
		line-height: 44px;
	}
	/*--------footer---------*/
	footer {
		position: relative;
		top: -80px;
		padding-top: 80px;
		padding-bottom: 34px;
	}
	.navigation {
		padding-left: 5px;
	}
	.navigation h6 {
		font-size: 20px;
	}
	.navigation-service {
		margin-top: 40px;
	}
	.footer-right {
		margin-top: 40px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.footer-right--social {
		margin-top: 20px;
	}
	.news-letter {
		margin-top: 40px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	main .container {
		position: relative;
		top: -60px;
	}
	/*--------header-------*/
	.header-logo {
		position: absolute;
		top: 44%;
		left: 10%;
		width: 300px;
	}
	h1 {
		font-size: 82px;
		line-height: 62px;
	}
	.header-logo__text {
		margin-top: 20px;
		font-size: 12px;
		line-height: 18px;
	}
	.header-logo__button {
		margin-top: 20px;
		padding: 8px 0;
		width: 120px;
		font-size: 12px;
		line-height: 21px;
	}
	/*-------spl-feature--------*/
	.spl-item {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	/*-------spl-offers-------*/
	.wrapper-left--top {
		font-size: 18px;
		line-height: 24px;
	}
	.wrapper-left h3 {
		margin-top: 14px;
		font-size: 28px;
		line-height: 32px;
	}
	.spl-offers__text {
		margin-top: 20px;
		max-width: 570px;
		font-size: 16px;
		line-height: 20px;
	}
	.sale {
		font-size: 38px;
		line-height: 42px;
	}
	.price {
		font-size: 28px;
		line-height: 58px;
	}
	/*--------product-card-----*/
	.card {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	/*-------product-template----*/
	.product-body__title {
		font-size: 32px;
		line-height: 35px;
	}
	/*-------advertising-element----*/
	.advertising-title {
		max-width: 265px;
		font-size: 42px;
		line-height: 44px;
	}
	/*-------feature-images-------*/
	.feature-images {
		grid-template-columns: auto auto auto;
	}
	.wrapper-left {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.product-body__title {
		font-size: 32px;
		line-height: 35px;
	}
	/*--------footer---------*/
	footer {
		position: relative;
		top: -100px;
		padding-top: 80px;
		padding-bottom: 34px;
	}
	.navigation {
		padding-left: 20px;
	}
	.navigation-service {
		margin-top: 40px;
	}
	.footer-right {
		margin-top: 40px;
	}
	.footer-right--social {
		margin-top: 20px;
	}
	.news-letter {
		margin-top: 40px;
	}
	.news-letter--form input {
		max-width: 350px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	main .container {
		position: relative;
		top: -60px;
	}
	.header-logo {
		position: absolute;
		top: 37%;
		left: 10%;
		width: 300px;
	}
	h1 {
		font-size: 82px;
		line-height: 62px;
	}
	.header-logo__text {
		margin-top: 20px;
		font-size: 12px;
		line-height: 18px;
	}
	.header-logo__button {
		margin-top: 20px;
		padding: 8px 0;
		width: 120px;
		font-size: 12px;
		line-height: 21px;
	}
	/*-------spl-offers-------*/
	.wrapper-left {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.wrapper-left--top {
		font-size: 18px;
		line-height: 24px;
	}
	.wrapper-left h3 {
		margin-top: 14px;
		font-size: 28px;
		line-height: 32px;
	}
	.spl-offers__text {
		margin-top: 20px;
		max-width: 570px;
		font-size: 16px;
		line-height: 20px;
	}
	.sale {
		font-size: 38px;
		line-height: 42px;
	}
	.price {
		font-size: 28px;
		line-height: 58px;
	}
	/*--------product-card-----*/
	.card {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	/*------feature-images-----*/
	.feature-images {
		grid-template-columns: auto auto auto;
	}
	.wrapper-left {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/*-------advertising-element----*/
	.advertising-title {
		max-width: 265px;
		font-size: 42px;
		line-height: 44px;
	}
	/*--------footer---------*/
	footer {
		position: relative;
		top: -100px;
		padding-top: 80px;
		padding-bottom: 34px;
	}
	.navigation {
		padding-left: 20px;
	}
	.footer-right {
		margin-top: 40px;
	}
	.footer-right--social {
		margin-top: 20px;
	}
	.news-letter {
		margin-top: 40px;
	}
	.news-letter--form input {
		max-width: 350px;
	}
}

@media (min-width: 992px) and (max-width: 1499.98px) {
	.header-logo {
		position: absolute;
		top: 32%;
		left: 10%;
		width: 400px;
	}
	h1 {
		font-size: 132px;
		line-height: 98px;
	}
	.header-logo__text {
		margin-top: 20px;
		font-size: 16px;
		line-height: 18px;
	}
	.header-logo__button {
		margin-top: 20px;
		padding: 12px 0;
		width: 150px;
		font-size: 18px;
		line-height: 21px;
	}
	.wrapper-left {
		padding-top: 60px;
	}
	/*-------spl-offers-------*/
	.wrapper-left {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.wrapper-left--top {
		font-size: 18px;
		line-height: 24px;
	}
	.wrapper-left h3 {
		margin-top: 14px;
		font-size: 28px;
		line-height: 32px;
	}
	.spl-offers__text {
		margin-top: 20px;
		max-width: 570px;
		font-size: 16px;
		line-height: 20px;
	}
	.spl-offers--sale {
		margin-top: 20px;
	}
	.sale {
		font-size: 38px;
		line-height: 42px;
	}
	.price {
		font-size: 28px;
		line-height: 58px;
	}
	/*--------product-card-----*/
	.card {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	/*-------advertising-element----*/
	.advertising-title {
		max-width: 305px;
		font-size: 48px;
		line-height: 51px;
	}
	/*--------footer---------*/
	footer {
		padding-top: 140px;
		padding-bottom: 34px;
	}
	.navigation {
		padding-left: 20px;
	}
	.footer-right {
		margin-top: 40px;
	}
	.footer-right--social {
		margin-top: 20px;
	}
	.news-letter {
		margin-top: 40px;
	}
	.news-letter--form input {
		max-width: 350px;
	}
}

@media (min-width: 1500px) {
	.container {
		max-width: 1500px;
	}
}